<!-- dashboard.html -->

{% extends 'base.html' %}

{% block title %}Dashboard{% endblock %}

{% block head %}
    <!-- Additional styles or script links for the dashboard page -->
    <link rel="stylesheet" href="{{ url_for('static', filename='dashboard_styles.css') }}">
    <!-- Any additional scripts or meta tags specific to the dashboard page -->
    <script src="{{ url_for('static', filename='dashboard_script.js') }}" defer></script>
{% endblock %}

{% block content %}
    <div class="dashboard-actions">
        <a href="{{ url_for('views.create_server') }}">Create</a>
        <a href="{{ url_for('views.logout') }}">Logout</a>
    </div>
    <div class="server-list">
        <h1>Servers</h1>
        {% if servers %}
            <ul id = "server-list">
                {% for server in servers %}
                    <li id="{{ server.ID }}">
                        <div>
                            <p>{{ server.name }}</p>
                            {% if server.running %}
                            <p class="player-count" id="player-count-{{ server.ID }}">Player Count: {{ server.player_count }}</p>
                            {% endif %}
                        </div>
                        <div>
                            <button class="logs-button" onclick="window.location.href='{{ url_for('views.logs', server_id=server.ID) }}'">📒</button>
                            {% if server.running %}
                            <button class="stop-btn" onclick="window.location.href='{{ url_for('views.handler', server_id=server.ID, action='stop') }}'">🛑</button>
                            {% else %}
                            <button class="edit-btn" onclick="window.location.href='{{ url_for('views.edit_server', server_id=server.ID) }}'">✎</button>
                            <button class="delete-btn" onclick="window.location.href='{{ url_for('views.delete_server', server_id=server.ID) }}'">❌</button>
                            <button class="start-btn" onclick="window.location.href='{{ url_for('views.handler', server_id=server.ID, action='start') }}'">🟢</button>
                            {% endif %}
                        </div>
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <p>No servers found.</p>
        {% endif %}
    </div>
{% endblock %}